<h1>Angular Table Using JSON Server</h1>
<hr />
<br />
<br />
<br />
<table id="user">
  <tr>
    <th  *ngFor="let col of columns">
     {{col}}
    </th>
  </tr>
<tr  *ngFor="let user of users">
      <td>{{user.Id}}</td>
      <td>{{user.EmployeeName}}</td>
      <td>{{user.StarTimeUtc}}</td>
      <td>{{user.EndTimeUtc}}</td>
      <td>{{user.EntryNotes}}</td>
     </tr>
</table>
<!-- // {"Id":"25768d9f-502a-4776-8796-c26d76d6a6eb",
// "EmployeeName":"Abhay Singh",
// "StarTimeUtc":"2022-02-22T14:15:00",
// "EndTimeUtc":"2022-02-22T12:01:00",
// "EntryNotes":"working on project Take-Two Interactive",
// "DeletedOn":null} -->